In [44]:
#librarys
import pandas as pd
import numpy as np

In [45]:
opentable= pd.read_csv('opentable3.csv')

In [46]:
#Stripping all text
opentable.area = opentable.area.str.strip().str.lower()
opentable.cuisine = opentable.cuisine.str.strip().str.lower()
opentable.location = opentable.location.str.strip().str.lower()
opentable.name = opentable.name.str.strip().str.lower()
# Cleaning review count
opentable.review_count = opentable.review_count.str.replace('(','').str.replace(')','')
opentable.review_count = pd.to_numeric(opentable.review_count)

# Cleaning rating
opentable.rating = opentable.rating.str.extract(r'(\d.?\d?) stars out of 5')
opentable.rating = opentable.rating.apply(lambda row: ((float(row) - 3)/2)* 100,)

#cleaning cost
# where 1 = $30 and under 2 = $31-50 and 3 = $50 and over
opentable.cost = opentable.cost.str.replace('[ \t]','')
opentable.cost = opentable.cost.apply(len)
opentable.cost = opentable.cost.apply(lambda x: '\$30 and under' if (x == 2) else ('\$31 to \$50' if (x == 3) else '\$50 and up'))

#cleaning promoted
opentable.promoted = (opentable.promoted == 'Promoted')

In [47]:
opentable.head(15)

,area,cost,cuisine,link,location,location_on_page,name,promoted,rating,review_count,review_link
0,atlanta / georgia,\$30 and under,caribbean,https://www.opentable.com/r/spice-house-on-cas...,airport / college park,"[61, 0]",spice house on cascade,False,NaN,NaN,https://www.opentable.com/r/spice-house-on-cas...
1,atlanta / georgia,\$31 to \$50,italian,https://www.opentable.com/r/tbonz-steakhouse-a...,augusta,"[61, 1]",tbonz steakhouse-augusta,False,NaN,1.0,https://www.opentable.com/r/tbonz-steakhouse-a...
2,atlanta / georgia,\$31 to \$50,mediterranean,https://www.opentable.com/r/royal-restaurant-a...,lilburn,"[61, 2]",royal restaurant and sweets,False,NaN,NaN,https://www.opentable.com/r/royal-restaurant-a...
3,atlanta / georgia,\$31 to \$50,italian,https://www.opentable.com/r/bollywood-zing-smy...,smyrna,"[61, 3]",bollywood zing,False,NaN,NaN,https://www.opentable.com/r/bollywood-zing-smy...
4,atlanta / georgia,\$31 to \$50,steakhouse,https://www.opentable.com/r/sushi-bar-yu-ka-at...,buckhead,"[61, 4]",sushi bar yu-ka,False,NaN,NaN,https://www.opentable.com/r/sushi-bar-yu-ka-at...
5,mexico city,\$30 and under,bistro,https://www.opentable.com/r/bistro-mecha-centr...,metepec / toluca,"[10, 0]",bistro mecha centro historico,False,70.0,38.0,https://www.opentable.com/r/bistro-mecha-centr...
6,mexico city,\$30 and under,international,https://www.opentable.com/r/la-casa-de-valenti...,malinalco,"[10, 1]",la casa de valentina,False,80.0,4.0,https://www.opentable.com/r/la-casa-de-valenti...
7,mexico city,\$31 to \$50,mexican,https://www.opentable.com/r/sal-y-tierra-valle...,avándaro / valle de bravo,"[10, 2]",sal y tierra,False,75.0,8.0,https://www.opentable.com/r/sal-y-tierra-valle...
8,mexico city,\$30 and under,traditional mexican,https://www.opentable.com/r/casa-mextizaje-res...,satelite / naucalpan / lomas verdes,"[10, 3]",casa mextizaje restaurant,False,NaN,NaN,https://www.opentable.com/r/casa-mextizaje-res...
9,mexico city,\$31 to \$50,regional mexican,https://www.opentable.com/r/ma-hai-aculco?avt=...,satelite / naucalpan / lomas verdes,"[10, 4]",ma-hai,False,NaN,NaN,https://www.opentable.com/r/ma-hai-aculco?avt=...
10,mexico city,\$30 and under,pizzeria,https://www.opentable.com/r/the-green-coffee-s...,metepec / toluca,"[10, 5]",the green coffee shop,False,NaN,NaN,https://www.opentable.com/r/the-green-coffee-s...
11,mexico city,\$30 and under,traditional mexican,https://www.opentable.com/r/maruka-food-and-te...,malinalco,"[10, 6]",maruka food and terrace,False,50.0,1.0,https://www.opentable.com/r/maruka-food-and-te...
12,mexico city,\$50 and up,american,https://www.opentable.com/r/brasserie-del-lago...,avándaro / valle de bravo,"[10, 7]",brasserie del lago,False,80.0,11.0,https://www.opentable.com/r/brasserie-del-lago...
13,mexico city,\$31 to \$50,contemporary mexican,https://www.opentable.com/r/nuestro-valle-de-b...,avándaro / valle de bravo,"[10, 8]",nuestro,False,85.0,12.0,https://www.opentable.com/r/nuestro-valle-de-b...
14,mexico city,\$31 to \$50,mexican,https://www.opentable.com/r/la-dolores-valle-d...,avándaro / valle de bravo,"[10, 9]",la dolores,False,NaN,NaN,https://www.opentable.com/r/la-dolores-valle-d...

In [48]:
opentable.to_csv('opentablecleaned.csv')