In [53]:
#librarys
import pandas as pd
import numpy as np

In [54]:
opentable= pd.read_csv('opentable3.csv')

In [55]:
# Cleaning review count
opentable.review_count = opentable.review_count.str.replace('(','').str.replace(')','')
opentable.review_count = pd.to_numeric(opentable.review_count)

# Cleaning rating
opentable.rating = opentable.rating.str.extract(r'(\d.?\d?) stars out of 5')
opentable.rating = opentable.rating.apply(lambda row: ((float(row) - 3)/3)* 100,)

#cleaning cost
# where 1 = $30 and under 2 = $31-50 and 3 = $50 and over
opentable.cost = opentable.cost.str.replace('[ \t]','')
opentable.cost = opentable.cost.apply(len)

#cleaning promoted
opentable.promoted = (opentable.promoted == 'Promoted')

In [56]:
opentable.head()

,area,cost,cuisine,link,location,location_on_page,name,promoted,rating,review_count,review_link
0,Atlanta / Georgia,2,Caribbean,https://www.opentable.com/r/spice-house-on-cas...,Airport / College Park,"[61, 0]",Spice House on Cascade,False,NaN,NaN,https://www.opentable.com/r/spice-house-on-cas...
1,Atlanta / Georgia,3,Italian,https://www.opentable.com/r/tbonz-steakhouse-a...,Augusta,"[61, 1]",TBonz Steakhouse-Augusta,False,NaN,1.0,https://www.opentable.com/r/tbonz-steakhouse-a...
2,Atlanta / Georgia,3,Mediterranean,https://www.opentable.com/r/royal-restaurant-a...,Lilburn,"[61, 2]",Royal Restaurant and Sweets,False,NaN,NaN,https://www.opentable.com/r/royal-restaurant-a...
3,Atlanta / Georgia,3,Italian,https://www.opentable.com/r/bollywood-zing-smy...,Smyrna,"[61, 3]",Bollywood Zing,False,NaN,NaN,https://www.opentable.com/r/bollywood-zing-smy...
4,Atlanta / Georgia,3,Steakhouse,https://www.opentable.com/r/sushi-bar-yu-ka-at...,Buckhead,"[61, 4]",Sushi Bar Yu-Ka,False,NaN,NaN,https://www.opentable.com/r/sushi-bar-yu-ka-at...

In [57]:
opentable.to_csv('opentablecleaned.csv')